#root {
  background-image: linear-gradient(
    to bottom,
    #009688 15%,
    #dadbd5 15%,
    #dadbd5 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

.debug {
  border: 1px red solid;
}

#app {
  display: flex;
  width: 80vw;
  height: 95vh;
  margin: 0 auto;
}

#contacts {
  max-height: 100%;
  width: calc(100% / 2);
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
}

#chat {
  height: 100%;
  width: 100%;
}

.notifications {
  background-color: #8edafc;
  height: 10vh;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.fa-bell-slash {
  border-radius: 50%;
  background-color: #fff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 1.3rem;
  color: #8edafc;
}

.contacts {
  overflow-y: scroll;
  max-height: calc(100% -15vh);
}

.search-bar {
  height: 6vh;
  background-color: #fafafa;
}

.fa-magnifying-glass {
  color: #b1b1b1;
}

.contact {
  border-bottom: 1px solid #dedede;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
}

.username {
  height: 8vh;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.contact img,
.username img {
  width: 15%;
  border-radius: 50%;
}

.contact-name {
  height: 100%;
  padding-top: 20px;
}

.user-icons {
  color: #b1b1b1;
  margin: 0 10px;
  font-size: 1.5rem;
}

.text p {
  text-decoration: underline;
  margin: 0;
}

.input-group-text,
.form-control {
  background-color: #fff;
  border: none;
}
