#root {
  background-image: linear-gradient(
    to bottom,
    #009688 15%,
    #dadbd5 15%,
    #dadbd5 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.debug {
  border: 1px red solid;
}

#app {
  display: flex;
  width: 80vw;
  height: 95vh;
  margin: 0 auto;
}

#contacts {
  height: 100%;
  width: calc(100% - 35vw);
  background-color: #eaeaea;
}

#chat {
  height: 100%;
  width: 100%;
}

.username {
  height: 10vh;
}

.notifications {
  background-color: #8edafc;
  height: 10vh;
}

.contacts {
}

.search-bar {
  height: 5vh;
  background-color: #fafafa;
}

.contact {
  border-bottom: 2px solid #dedede;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.contact img {
    width: 15%;
    border-radius: 50%;
}

.contact-name {
    height: 100%;
    padding-top: 10px;
}
